In [1]:
import pandas as pd 
import scipy.stats as st
import matplotlib.pyplot as plt 
import numpy as np
from matplotlib.pyplot import figure 
from scipy.stats import linregress
import random

In [2]:
happy_2015 = pd.read_csv("data_sets/2015_to_2019_happiness_index_data_kaggle/2015.csv")
happy_2015

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [3]:
country_list = random.sample(list(happy_2015["Country"]), 10)
country_list

['Congo (Kinshasa)',
 'Bulgaria',
 'Niger',
 'Malawi',
 'Syria',
 'Macedonia',
 'Guinea',
 'Panama',
 'Somaliland region',
 'Yemen']

In [4]:
y = happy_2015.loc[happy_2015["Country"] == "Rwanda","Happiness Score"]
y

153    3.465
Name: Happiness Score, dtype: float64

In [5]:
x = np.arange(len(country_list))
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
happiness_value_list = []

for country in country_list:
    #happy_2015.loc[happy_2015["Country"] == "Kenya","Happiness Score"]
    happiness_value_list.append(list(happy_2015.loc[happy_2015["Country"] == country,"Happiness Score"])[0])

#happy_2015.loc[happy_2015["Country"] == country,"Happiness Score"]

In [7]:
happiness_value_list

[4.5169999999999995,
 4.218,
 3.845,
 4.292,
 3.0060000000000002,
 5.007,
 3.656,
 6.7860000000000005,
 5.0569999999999995,
 4.077]

In [8]:
co2_emission = pd.read_csv("data_sets/CO2emission.csv")
co2_emission.dropna(how = "all", axis = 1, inplace = True)
co2_em_2015 = co2_emission[["Country Name","Country Code","2015"]].copy()
co2_em_2015

     Country Name Country Code        2015
0           Aruba          ABW     898.415
1     Afghanistan          AFG    9035.488
2          Angola          AGO   34583.477
3         Albania          ALB    4616.753
4         Andorra          AND     465.709
..            ...          ...         ...
259        Kosovo          XKX    8408.431
260   Yemen, Rep.          YEM   13171.864
261  South Africa          ZAF  463952.507
262        Zambia          ZMB    4532.412
263      Zimbabwe          ZWE   12317.453

[264 rows x 3 columns]

In [9]:
co2_em_2015.dropna(how = "any", axis = 0, inplace = True)
co2_em_2015

     Country Name Country Code        2015
0           Aruba          ABW     898.415
1     Afghanistan          AFG    9035.488
2          Angola          AGO   34583.477
3         Albania          ALB    4616.753
4         Andorra          AND     465.709
..            ...          ...         ...
259        Kosovo          XKX    8408.431
260   Yemen, Rep.          YEM   13171.864
261  South Africa          ZAF  463952.507
262        Zambia          ZMB    4532.412
263      Zimbabwe          ZWE   12317.453

[250 rows x 3 columns]

In [10]:
co2_value_2015_list = []

for country in country_list:
    co2_value_2015_list.append(list(co2_em_2015.loc[co2_em_2015["Country Name"] == country, "2015"])[0])

IndexError: list index out of range

In [ ]:
co2_em_2015.loc[co2_em_2015["Country Name"] == "Bangladesh", "2015"]

# Happiness and CO2 Levels comparison

In [ ]:

plt.figure(figsize= (20,10))

figure = plt.figure()
subplot = figure.add_subplot()

plt.bar(x,happiness_value_list)


plt.xticks(list(x),country_list)
plt.show()

In [ ]:
labels = ['G1', 'G2', 'G3', 'G4', 'G5']
happiness_value_list 
women_means = [25, 32, 34, 20, 25]


fig, ax = plt.subplots()
rects1 = ax.bar(x - width/2, men_means, width, label='Men')
rects2 = ax.bar(x + width/2, women_means, width, label='Women')

# Add some text for labels, title and custom x-axis tick labels, etc.
ax.set_ylabel('Scores')
ax.set_title('Scores by group and gender')
ax.set_xticks(x)
ax.set_xticklabels(labels)
ax.legend()